@import url(reset.css);
@import url(styles/header.css);
@import url(styles/footer.css);
@import url(styles/index.css);
@import url(styles/beneficios.css);
@import url(styles/contato.css);
@import url(styles/comousar.css);
@import url(styles/quemsomos.css);

:root {
    --branco: #FFFFFF;
    --creme: #F7F7F7;
    --azul: #3777FD;
    --preto: #000000;
    --cinza: #333333;

    --montserrat: 'Montserrat', sans-serif;
}


body {
    background-color: var(--creme);
}