/* Multiple Toggle Switch by Abu Shafiyya */

.tabs {
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
  gap: 1em;
}

.tabs * {
  z-index: 2;
}

.container {
  margin-top: 7em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  height: auto;
  width: auto;
  padding: 0.75em;
  color: var(--cinza);
  font-family: var(--montserrat);
  font-weight: 700;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: #185ee0;
}

.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(-120%);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(-5%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(115%);
}

.glider {
  position: absolute;
  display: flex;
  height: 70px;
  width: 140px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

.beneficios1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10em 20em;
  gap: 15em;
  align-items: center;
}

.beneficios1__image {
  width: 15vw;
}

.beneficios2 {
  background-color: var(--azul);
  display: flex;
  justify-content: space-around;
  padding: 10em 20em;
  gap: 15em;
  align-items: center;
}

.beneficios2__image {
  width: 20vw;
}

.beneficios3 {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.beneficios3__title {
  color: var(--cinza);
  text-align: center;
  font-family: var(--montserrat);
  margin: 3em 0 0 0;
  font-size: 4em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.beneficios3__list {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin: 10em;
}

.beneficios3__list_item {
  background-color: var(--branco);
  padding: 0.5em 3.5em;
  border-radius: 70px;
  border: 1px solid var(--preto);
  box-shadow: 0px 1px 7px 0px var(--cinza);
  display: flex;
  gap: 5em;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.beneficios3__list_item:hover {
  box-shadow: 0 0 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transform: scale(1.01);
}

.list__number {
  color: var(--preto);
  text-align: center;
  font-family: var(--montserrat);
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.list__text {
  color: var(--cinza);
  font-family: var(--montserrat);
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


@media screen and (max-width: 1024px) {
  .beneficios1, .beneficios2 {
    padding: 8em 6em;
    gap: 7em;
  }

  .beneficios3__title {
    font-size: 2.5em;
  }

  .beneficios3__list {
    margin: 5em;
    gap: 2em;
  }

  .tab {
    font-size: 1em;
  }

  .glider {
    height: 55px;
    width: 100px;
  }

  .container input[id="radio-1"]:checked ~ .glider {
    transform: translateX(-117%);
  }
  
}

@media screen and (max-width: 767px) {
  .beneficios1, .beneficios2 {
    flex-direction: column;
    padding: 5em 3em;
    gap: 5em;
  }

  .beneficios1__image, .beneficios2__image {
    width: 60vw;
  }

  .beneficios3__title {
    font-size: 1.5em;
  }

  .beneficios3__list {
    margin: 0 0 5em 0;
  }

  .beneficios3__list_item {
    padding: 0.5em 1.5em;
    border-radius: 30px;
    gap: 2em;
  }

  .list__number {
    font-size: 1.5em;
  }

  .list__text {
    font-size: 1em;
  }
}