.contato1 {
    display: flex;
    justify-content: space-around;
    padding: 15vh 10vw;
    gap: 15vw;
    align-items: center;
}
.contato1__texts {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

.contato1__title {
    color: var(--cinza);
    text-align: center;
    font-family: var(--montserrat);
    font-size: 4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contato1__text {
    color: var(--cinza);
    font-family: var(--montserrat);
    font-size: 4em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contato1__image {
    width: 30vw;
}

.contato2 {
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.contato2__title {
    color: var(--cinza);
    text-align: center;
    font-family: var(--montserrat);
    font-size: 4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contato2__list {
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
    align-items: center;
    margin: 10em 0;
}

.contato2__list_item {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.contato__link {
    text-decoration: none;
    background-color: var(--azul);
    border-radius: 1.5em;
    display: flex;
    gap: 2em;
    align-items: center;
    padding: 0.5em 0;
    width: 25vw;
    text-align: center;
    justify-content: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    box-shadow: 0px 4px 10px var(--cinza);
}

.contato__link:hover {
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.contato__text {
    color: var(--creme);
    font-family: var(--montserrat);
    font-size: 3em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.contato__logo_youtube {
    fill: #ff0000;
}

.contato__logo_instagram {
    fill: #dd2a7b;
}

.contato__logo_whatsapp {
    fill: #4FC958;
}

@media screen and (max-width: 1024px) {
    .contato1 {
        gap: 10vw;
    }

    .contato__link {
        gap: 1em;
        width: 35vw;

    }

    .contato__text {
        font-size: 1.75em;
    }

    .contato1__title, .contato1__text {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 767px) {
    .contato1 {
        flex-direction: column;
    }

    .contato1__texts {
        gap: 1em;
    }

    .contato1__title, .contato1__text {
        font-size: 2em;
    }

    .contato__text {
        font-size: 1.2em;
    }

    .contato2__title {
        font-size: 2em;
    }

    .contato2__list {
        margin: 5em 0;
        gap: 2em;
    }

    .contato2__list_item {
        gap: 1.5em;
    }

    .contato__link {
        border-radius: 1em;
        gap: 1.5em;
        width: 60vw;
        padding: 0.3em 0;
    }

    .contato1__image {
        width: 60vw;
    }
}