.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    box-shadow: 0 9px 10px -12px var(--cinza);
    background-color: var(--branco);
}
    
.menu_list {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: var(--branco);
    gap: 1.5em;
    padding: 1.5em;
    z-index: 1;
}

.inactive {
    display: none;
}

.menu_list__title {
    font-family: var(--montserrat);
    font-size: 1.25em;
    font-weight: 900;
    color: var(--azul);
    text-align: center;
    padding-bottom: 1em;
}

.menu_list__link {
    text-decoration: none;
    font-family: var(--montserrat);
    color: var(--cinza);
    font-size: 1em;
    font-weight: 700;
}

.hamburger {
    display: none;
    cursor: pointer;
}
  
.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: var(--azul);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}
  

.header__image {
    width: 7em;
}

.header__navlinks {
    display: flex;
    margin: 0 17vw;
    gap: 6vw;
}

.header__navlinks_link {
    text-decoration: none;
    font-size: 1.3em;
    font-family: var(--montserrat);
    color: var(--cinza);
}

.header__navlinks_link:hover {

    transition-timing-function: ease-in-out;
    transition: 0.3s;
    transform: scale(103%);
    color: var(--azul);
}

.header__button {
    padding: 0.3em 2.5em;
    border: 0;
    border-radius: 100px;
    background-color: var(--azul);
    color: #ffffff;
    font-weight: 700;
    font-family: var(--montserrat);
    font-size: 1.5em;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .header__button:hover {
    background-color: #3777ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .header__button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

@media screen and (max-width: 1024px){
    .header__navlinks {
        margin: 0;
        gap: 2vw;
    }

    .header__image {
        width: 4.5em;
    }

    .header__navlinks {
        gap: 3em;
    }

    .header__navlinks_link {
        font-size: 1em;
    }

    .header__button {
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    .header{
        padding: 0.75em 1em;
        flex-direction: row;
    }

    .hamburger {
        display: block;
    }

    .header__navlinks {
        display: none;
    }

    .header__button {
        display: none;
    }
}